<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtentReports" version="2.41.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.22.0" targetFramework="net452" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.14" targetFramework="net452" />
  <package id="Selenium.Support" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.42.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.EdgeDriver" version="3.14393" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.14.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="ZetaLongPaths" version="1.0.0.15" targetFramework="net452" />
</packages>