<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="https://crmautomationtrial.crm11.dynamics.com"/>
    <add key="browser" value="Firefox"/> <!--Chrome, Firefox, FirefoxOld, (IE) / (internet explorer), Edge-->
    <add key="ControlsFilePath" value="\ObjectRepository\Objects.xlsx"/>
    <add key="Project" value="SeleniumCSharpMSTest"/>
    <add key="SenderEmail" value="testsender101@gmail.com"/>
    <add key="SenderEmailPassword" value="Testhouse@123"/>
    <add key="ReceiverEmail" value="testreceiver101@gmail.com"/>
    <add key="CCEmail" value=""/>
    <add key="BccEmail" value=""/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
  </appSettings>
</configuration>